[submodule "libs/third-party/jansson"]
	path = libs/third-party/jansson
	url = https://github.com/akheron/jansson.git
[submodule "libs/third-party/wolfssl"]
	path = libs/third-party/wolfssl
	url = https://github.com/wolfSSL/wolfssl.git
[submodule "libs/third-party/googletest"]
	path = libs/third-party/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/third-party/SimpleJSON"]
	path = libs/third-party/SimpleJSON
	url = https://github.com/nbsdx/SimpleJSON
[submodule "libs/third-party/cbor-cpp"]
	path = libs/third-party/cbor-cpp
	url = https://github.com/naphaso/cbor-cpp.git
[submodule "libs/third-party/STM32CubeH7"]
	path = libs/third-party/STM32CubeH7
	url = https://github.com/STMicroelectronics/STM32CubeH7
